@model IEnumerable<Homita.Models.SanPham>

@{
    ViewBag.Title = "Index";
}
@{
    var role = Session["VaiTro"] as string;
    bool canEdit = (role == "Admin" || role == "NhanVien");
}
@if (canEdit)
{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@if (canEdit)
{
    <p>
        @Html.ActionLink("Thêm sản phẩm mới", "Create")
    </p>
}

<div class="container-fluid">
    <button class="btn btn-success d-md-none my-2" type="button" data-bs-toggle="collapse" data-bs-target="#danhMucCollapse" aria-expanded="false" aria-controls="danhMucCollapse">
        ☰ Danh mục
    </button>

    <div class="row">
        <div class="col-md-2 collapse d-md-block dmuc-custom" id="danhMucCollapse">
            <h2 class="text-dark">Danh mục</h2>
            <ul class="list-unstyled ">
                <li><a href="#" class="p-1 fs-5"">Món nổi bật</a></li>
                <li><a href="#" class="p-1 fs-5">Trà sữa</a></li>
                <li><a href="#" class="p-1 fs-5">Trà trái cây</a></li>
                <li><a href="#" class="p-1 fs-5">Nước ép</a></li>
            </ul>
        </div>

        <!-- Sản phẩm -->
        <div class="col-md-10">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Giá</th>
                        <th>Size</th>
                        <th>Hình ảnh</th>
                        <th>Loại SP</th>
                        @if (canEdit)
                        {
                            <th>Thao tác</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaSP</td>
                            <td>@item.TenSP</td>
                            <td>@item.Gia</td>
                            <td>@item.Size</td>
                            <td>
                                <img src="@Url.Content(item.HinhAnh)" alt="@item.TenSP" width="100" />
                            </td>
                            <td>@item.LoaiSanPham.TenLoaiSP</td>
                            @if (canEdit)
                            {
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaSP }) |
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSP })
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

